.btnForm,.btnFormOwner,.btnFormWel button,.btnSearch{
    border-radius: 23px;
    width: calc(100% - 22px);
    height: 41px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--color-white);
    background-color: var(--color-white);
    color: var(--color-black);
    transition: all .3s ease-in-out;
}

.btnForm:hover {
    color: var(--color-white);
    border: 1px solid var(--color-black);
    background-color: var(--color-black);
}

.btnFormOwner, .btnFormWel button {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px auto 80px;
}

.btnFormWel{
    width: 100%;
}