.bgForm>div {
    border: 1px solid var(--border-gray);
    padding: 20px;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
    border-radius: 10px;
    width: 340px;
    background: hsla(0, 0%, 100%, .1);
}

.bgForm>div>p,
.formInput p {
    margin-bottom: 25px;
}

.formInput input::placeholder,.bgForm>div>p,
.formInput p{
    font-weight: 600;
    color:var(--color-white);
    font-size: 17px;
}

.formInput p {
    margin-bottom: 13px;
}

.formInput {
    width: 100%;
}

.formInput input {
    border-radius: 23px;
    padding: 9px 17px 9px 0px;
    height: 40px;
    width: calc(100% - 22px);
    margin-bottom: 30px;
    border: 1px solid var(--border-gray);
}

/* table */

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }