.bgForm {
    border: 1px solid var(--border-gray);
    padding: 20px;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
    border-radius: 10px;
    width: 420px;
    background: hsla(0, 0%, 100%, .1);
}

.bgForm p {
    margin-bottom: 20px;
}

.formInput::placeholder,
.bgForm>p {
    font-weight: 600;
    color: var(--color-white);
    font-size: 17px;
}

.formInput {
    width: 100%;
}

input:hover {
    background-color: transparent;
}

.formInput {
    background-color: transparent;
    border-radius: 23px;
    padding: 9px 17px 9px 0px;
    height: 40px;
    width: calc(100% - 22px);
    margin-bottom: 30px;
    border: 1px solid var(--border-gray);
}

.btnDelete {
    color: red;
}

.listcars {
    color: var(--color-white);
    font-weight: 600;
    margin-top: 10px;
}

/* table */
.tableForm h2{
margin: 20px 0;
font-weight: 600;

}


table {
    border-collapse: collapse;
    width: 100%;
    background: hsla(0, 0%, 100%, .2);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}