.welcome {
    align-items: center;
    margin-top: 150px;
}

.welcome h1 {
    font-size: 50px;
    margin: auto;
    background: -webkit-linear-gradient(var(--color-gray), var(--color-third));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome button {
    margin-top: 20px;
}