@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  direction: rtl;
  background-image: linear-gradient(to right, var(--color-main), var(--color-second));
}

button, input {
  background-color: transparent;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

:root {
  --color-black:#333;
  --border-gray:rgba(255,255,255, .2);
  --color-main:#cc2b5e;
  --color-second:#753a88;
  --color-white:#fff;
  --color-gray:#1c283d;
  --color-third: #4e80ba
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexAlign {
  display: flex;
  align-items: center;
}