body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  direction: rtl;
}

button, input {
  background-color: transparent;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

:root {
  --color-black:#333;
  --border-gray:#ddd;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexAlign {
  display: flex;
  align-items: center;
}